.infoCard {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: $navy-blue;
  text-align: center;
  align-items: center;

  &:hover {
    .imageWrapper {
      img {
        scale: 1.1;
      }
    }

    .cta {
      svg {
        transform: rotate(-90deg) translateY(grid(1));
      }
    }
  }

  .imageWrapper {
    position: relative;
    margin-bottom: grid(3);
    overflow: hidden;
    border: 1px solid $navy-blue;
    background-color: $baby-blue;
    border-radius: $border-radius--small;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      transition: 0.3s linear;
    }
  }

  p {
    margin-bottom: 0;
  }

  .cta {
    display: inline-flex;
    align-items: center;
    gap: grid(1);
    margin-top: grid(3);
    font-weight: 600;
    color: $sky-blue;

    svg {
      width: grid(4);
      height: grid(4);
      transform: rotate(-90deg);
      transition: transform 0.3s linear;
    }
  }
}
